div(ng-include='\'partials/navbar\'')

.row
  h1
    span Welcome
    span(ng-show='currentUser') , &nbsp;
    em(ng-show='currentUser')
      | {{ currentUser.name }}
      | !
  p {{currentUser}}

  div(ng-show='currentUser')
    button(class='btn btn-primary',
    ng-click='getUserInfo()') Get User Info
    hr
    p
      pre User information: {{UserInfo}}